<div class="container">
  <form [formGroup]="formularioLogin">
    <div class="form-group">
      <label for="txtEmail">Email</label>
      <input type="email" class="form-control" id="txtEmail" formControlName="email" >
    </div>
    <div class="form-group">
      <label for="txtSenha">Senha</label>
      <input type="password" class="form-control" id="txtSenha" formControlName="senha" >
    </div>
    <div class="form-group">
      <button class="btn btn-primary" type="button" (click)="submitLogin()">Login</button>
      <button type="button" class="btn btn-secondary" (click)="registro()">Registre-se</button>
    </div>
  </form>
</div>

<form >
</form>